extends layout
block addStyles
  style.
    .neo{
      border-radius: 10px;
      background: #ffffff;
      box-shadow:  41px 41px 82px #d4d4d4,
             -41px -41px 82px #ffffff;
    }
block content
    section.text-gray-600.body-font
        .container.px-5.py-24.mx-auto.flex.flex-wrap.items-center
            .pr-0(class='lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0')
                h1.title-font.font-medium.text-3xl.text-gray-900 Funcionalidad de inicio de sesión
                br
                code.neo
                    |const user = await Parse.User.logIn("myname", "mypass");
                p.leading-relaxed.mt-4
                    | El servicio se encarga de validar si es correcta o no las credenciales.
            .bg-gray-100.rounded-lg.p-8.flex.flex-col.w-full.mt-10(class='lg:w-2/6 md:w-1/2 md:ml-auto md:mt-0')
                h2.text-gray-900.text-lg.font-medium.title-font.mb-5 Inicio de sesión
                .relative.mb-4
                    label.leading-7.text-sm.text-gray-600(for='email') Correo
                    input#email.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.text-gray-700.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(type='email' name='email' class='focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200')
                .relative.mb-4
                    label.leading-7.text-sm.text-gray-600(for='password') Contraseña
                    input#password.w-full.bg-white.rounded.border.border-gray-300.text-base.outline-none.text-gray-700.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out(type='password' name='password' class='focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200')
                button.text-white.bg-indigo-500.border-0.py-2.px-8.rounded.text-lg(class='focus:outline-none hover:bg-indigo-600' onClick="login()") Acceder
                center
                    br
                    a.text-xs.text-gray-500.mt-3(href="/singup") No tengo cuenta, quiero registrarme.
    secction.text-gray-600.body-font
        center
            br
            a(href="/login/logout")  < Regresar

block addScripts
    script.
        function login(){
            const email = $('#email').val().trim();
            const password = $('#password').val().trim();
            if(email === '' || password === ''){
                alert('Ingresa tus credenciales');
                return;
            }
            axios.post('/login',{email,password})
            .then(response => {
                window.location.href = '/profile'
            }).catch(error => {
                alert('Credenciales incorrectas')
            });
        }